<!DOCTYPE html>
<html>
    <head>
        <title>GSA Workspace</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
             body{
                padding:0px;
                margin:0px;
                width: 100%;
            }
            
            .wrapper {
                width:90%;
                margin-top:100px;
                margin: auto;
            }
            
            h1,h3,h4{
                margin:0px;
                padding-top:100px;
            }
        </style>
    </head>
    <body>
        
        <!--NAVBAR STARTS-->
        
        <div class="navbar-fixed">
          <nav class="blue">
            <div class="wrapper">
              <a href="/" class="brand-logo">GSA</a>
            </div>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <div class="wrapper">
                  <ul class="right hide-on-med-and-down">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/jobs">Jobs</a></li>
                    <li><a href="/ships">Ships</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="#">Login</a></li>
                  </ul>
              </div>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/ships">Ships</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="#">Login</a></li>
              </ul>
          </nav>
        <div>
            
    <!--NAVBAR ENDS!!!-->
        
    <div class="wrapper">