<!DOCTYPE html>
<html>
    <head>
        <title>GSA Workspace</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        

    </head>
    <body>
        <!--NAVBAR STARTS-->
        
        <div class="head" id="Header">   
          <div class="navbar-fixed">
                <nav class="blue">
                    <div class="nav-wrapper custom-color">
                        <a class="brand-logo center">GSA</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse" id="btncollapse">
                            &#9776;
                        </a>
                        <ul class="left hide-on-med-and-down transparent">
                            <li><a href="/" class="link"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
                            <li><a href="/" class="link">Dashboard</a></li>
                            <li><a href="/jobs" class="link">Jobs</a></li>
                            <li><a href="/ships" class="link">Ships</a></li>
                            <li><a href="#Contact" class="link"><i class="fa fa-search "></i></a></li>
                        </ul>
                        <ul class="right hide-on-med-and-down transparent">
                            <% if(!currentUser){ %>
                                <li><a href="https://twitter.com/manir1811" target="_blank" class="link"><i class="fa fa-2x fa-sign-in"></i></a></li>
                                <% } else { %>
                                <li><a href="/profile" class="link"><%=currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1);%></a></li>
                                <li><a href="/logout" class="link"><i class="fa fa-2x fa-sign-out"></i></a></li>
                            <% } %>
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="side-nav" id="mobile-demo">
                  <li><a href="/" class="link">Dashboard <i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
                  <li><a href="/jobs" class="link">Jobs<i class="fa fa-briefcase fa-2x"></i></a></li>
                  <li><a href="/ships" class="link">Ships<i class="fa fa-ship fa-2x"></i></a></li>
                  <li><a href="/search" class="link">Search<i class="fa fa-search fa-2x"></i></a></li>
                  <% if(!currentUser){ %>
                      <li><a href="https://twitter.com/manir1811" target="_blank" class="link">Sign In<i class="fa fa-2x fa-sign-in"></i></a></li>
                      <% } else { %>
                      <li><a href="/profile" class="link"><%=currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1);%><i class="fa fa-user-circle fa-2x"></i></a></li>
                      <li><a href="/logout" class="link">Sign Out<i class="fa fa-2x fa-sign-out"></i></a></li>
                  <% } %>
              </ul>
        </div>
        
        
            
    <!--NAVBAR ENDS!!!-->
        
    <div class="wrapper">