<% include ./partials/header %>

<h1>This is the Jobs Page</h1>

<a href="/">Go to dashboard</a>
<a href="/jobs/new">Add a new job</a>

<% jobs.forEach(function(job){ %>
    <div>
        <div> <%= job.Job_number %> </div>
        <div> <%= job.IMO %> </div>
        <div> <%= job.Agency %> </div>
        <div> <%= job.port %> </div>
    </div>
<% }) %>

<% include ./partials/footer %>