<% include ./partials/header %>

<h1>Jobs list goes here!</h1>

<a href="/">Go to dashboard</a>
<a href="/jobs/new">Add a new job</a>

    <ul class="collapsible" data-collapsible="accordion">
        <% jobs.forEach(function(job){ %>
        <li>
          <div class="collapsible-header">First</div>
          <div class="collapsible-body grey"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
       <% }); %>
      </ul>





    


<% include ./partials/footer %>