<h1>Log in</h1>

<form action='/login' method='POST'>
    <input type="text" id="username" name='username'>
    <label for="username">Username</label>
    <input type="password" id="password" name='password'>
    <label for="password">Password</label>
    <button>Login</button>
</form>