<% include ./partials/header %>

<h4 class="center">Log in</h4>

<form action='/login' method='POST' class="center card-panel" id="login-form">
    <div class="row">
        <div class="input-field col s12">
             <input id="username" type="text" name="username">
             <label for="username">Username</label>
        </div>
        <div class="input-field col s12">
            <input id="password" type="password" name="password">
            <label for="password">Password</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light">Login</button>
</form>

<% include ./partials/footer %>