<% include ./partials/header %>

<h1> <%=shipDetails.IMO%> </h1>
<form action="/ships/<%=shipDetails._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<% include ./partials/footer %>