body{
    padding:0px;
    margin:0px;
    width: 100%;
}

.wrapper {
    width:90%;
    margin-top:100px;
    margin: auto;
}

h1,h3,h4{
    margin:0px;
    padding-top:100px;
    padding-bottom: 20px;
}

.collapsible-header{
  padding-bottom: 0px; 
  padding-top: 20px;
}

#login-form{
    width: 300px;
    margin: auto;
}

#register-form{
    width: 300px;
    margin: auto;
}