body{
    padding:0px;
    margin:0px;
    width: 100%;
}

.wrapper {
    width:90%;
    margin-top:100px;
    margin: auto;
}

h1,h3,h4{
    margin:0px;
    padding-top:60px;
    padding-bottom: 20px;
}

.collapsible-header{
  padding-bottom: 0px; 
  padding-top: 20px;
}

#login-form{
    width: 300px;
    margin: auto;
}

#register-form{
    width: 300px;
    margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#pageInput{ 
    width: 28px;
  /*padding: 0px 10px; */
  height: 30px; line-height: 30px; 
  border-radius: 3px; 
  /*border: 1px solid #bbb; */
  display: inline-block; vertical-align: middle;
  
  }